name: Make Repo Public

on:
  schedule:
    - cron: "0 * * * *" # This will run the action every hour

jobs:
  make-public:
    runs-on: ubuntu-latest

    steps:
      - name: Make Repo Public
        uses: hats-finance/make_repo_public@v3
        with:
          target_date: "1690210800"
          gh_pat: ${{ secrets.GH_PAT }}
